absl-py
asgiref
attrs
backports.zoneinfo
boto3
botocore
contourpy
cvzone
cycler
Django
django-cors-headers
django-environ
django-storages
djangorestframework
djangorestframework-simplejwt
flatbuffers
fonttools
gunicorn
jmespath
kiwisolver
matplotlib
mediapipe
numpy
opencv-contrib-python
opencv-python
packaging
Pillow
protobuf
psycopg2
PyJWT
pyparsing
python-dateutil
pytz
s3transfer
six
sqlparse
urllib3
